.minmax {
  background-color: pink;
  min-width: 300px;
  max-width: 400px;
}

input[type="text"] {
  outline: 5px solid green;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.position {
  position: fixed;
  opacity: 10%;
}


.index1 {
  background-color: red;
  width: 500px;
  height: 500px;
  position: relative;
  opacity: 70%;
}

.index2 {
  background-color: green;
  width: 300px;
  height: 300px;
  position:absolute;
  top: 0;
  z-index: -10;
}

.center{
  background-color: pink;
  width: 50%;
  height: 300px;
  margin: auto;
}

.content-center{
  background-color: tomato;
  width: 50%;
  height: 20px;
  text-align: center;
}